body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin: 0;
    padding: 30px;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding-left: 80;
    padding-right: 80;
}

header {
    background: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    padding-left: 20px; /* Add some padding to move content from the left edge of the screen */
}

header h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #fff;
    margin-left: 10px; /* Add some margin to create a gap between logo and title */
}

#logo {
    height: 80px;
    float: left;
}

main {
    padding: 20px 40px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    font-size: 20px;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #00CED1;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

