body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #F5F5F5;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #008CBA;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

